html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #333;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  height: 80px;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  bottom: 0;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-inner {
  width: 400px;
  height: 300px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

como especifica uma edicao pra um file unico
