.cards {
    width: 300px;
    height: 100px;
    background-color: rgb(211, 211, 104);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}
